<h1>Campaigns</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= link_to campaign.title, campaign_path(campaign.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
